<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand h1" routerLink="/">LOGO</a>
    <ul class="navbar-nav d-flex flex-row gap-10">
      <li class="nav-item mx-3">
        <a class="nav-link active" aria-current="page" routerLink="/details"
          >EUR - USD Details</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/details"
          >EUR - GBP Details</a
        >
      </li>
    </ul>
  </div>
</nav>
